<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Aircompany Report</h1>

<table>

    <tr>
        <td>Capacity :</td>
        <td>${capacity} L</td>
    </tr>
    <tr>
        <td>Caryying capacity :</td>
        <td>${carryingCapacity} kg</td>
    </tr>

</table>


</body>
</html>


